<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="cake.css">
    <title></title>
  </head>
  <body>
    <div id="cake-box">

      <div id="cake-1">
        <img src="https://www.thespruceeats.com/thmb/lPBHmMNr71B6No0KzwCiczhMHSg=/2048x1152/smart/filters:no_upscale()/fluffy-homemade-vanilla-cake-995187_18_preview-5afddc4c8023b900369a9cbd.jpeg" width="25%">
        <%= @eatThisCake.name %>
        <%= @eatThisCake.price %>
        <%= @eatThisCake.desription %>

      </div>
      <div id="cake-2">
        <img src="https://cdn.sallysbakingaddiction.com/wp-content/uploads/2019/05/angel-food-cake.jpg" width='25%'>
        <%= @eatThisAngle.name %>
        <%= @eatThisAngle.price %>
        <%= @eatThisAngle.desription %>
      </div>
      <div id="cake-3">
        <img src="https://www.rockrecipes.com/wp-content/uploads/2013/03/DSC0906-1-4.jpg" width='25%'>
        <%= @eatThisCarmeal.name %>
        <%= @eatThisCarmeal.price %>
        <%= @eatThisCarmeal.desription %>

      </div>
    </div>

  </body>
</html>
