<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="cake.css">
    <title></title>
  </head>
  <body>
    <div id="cake-box">

      <div id="cake-1">
        <img src="img/cake-1.png" width="95%" class="cake-img">
        <h3><%= @eatThisCake.name %></h3>
        <h3><%= @eatThisCake.price %></h3>
        <h3><%= @eatThisCake.desription %></h3>

      </div>
      <div id="cake-2">
        <img src="img/cake-2.png" width='95%' class="cake-img">
        <h3><%= @eatThisAngle.name %></h3>
        <h3><%= @eatThisAngle.price %></h3>
        <h3><%= @eatThisAngle.desription %></h3>
      </div>
      <div id="cake-3">
        <img src="img/cake-3.png" width='95%' class="cake-img">
        <h3><%= @eatThisCarmeal.name %></h3>
        <h3><%= @eatThisCarmeal.price %></h3>
        <h3><%= @eatThisCarmeal.desription %></h3>

      </div>
    </div>

  </body>
</html>
