<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="cookie.css">
    <title></title>
  </head>
  <body>
    <div id="cookie-box">

      <div id="cookie-1">
        <img src="https://superiorculinarycenter.com/wp-content/uploads/2018/11/Cookies.jpg" width='95%'>
        <%= @eatThisCookie.name %>
        <%= @eatThisCookie.price %>
        <%= @eatThisCookie.desription %>
      </div>
      <div id="cookie-2">
         <img src="https://jenniferskitchen.com/wp-content/uploads/Coconut-Oatmeal-Cookies-1.jpg" width='95%'>
       <%= @eatThisOatmeal.name %>
       <%= @eatThisOatmeal.price %>
       <%= @eatThisOatmeal.desription %>
      </div>
      <div id="cookie-3">
        <img src="https://cdn.pixabay.com/photo/2016/11/22/19/31/dessert-1850216_1280.jpg" width='95%'>
        <%= @eatThisMacaroon.name %>
        <%= @eatThisMacaroon.price %>
        <%= @eatThisMacaroon.desription %>
      </div>
    </div>

  </body>
</html>
