<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="muffin.css">
    <title></title>
  </head>
  <body>
    <div id="muffin-box">
      <div id="muffin-1">
        <img src="https://cdn.pixabay.com/photo/2016/04/14/20/15/muffins-1329679_1280.jpg" width="45%">
        <%= @eatThisBlueBerry.name %>
        <%= @eatThisBlueBerry.price %>
        <%= @eatThisBlueBerry.desription %>

      </div>
      <div id="muffin-2">
        <img src="https://bakingmischief.com/wp-content/uploads/2017/06/small-batch-chocolate-chocolate-chip-muffins-image.jpg" width="45%">
        <%= @eatThisCoco.name %>
        <%= @eatThisCoco.price %>
        <%= @eatThisCoco.desription %>

      </div>
      <div id="muffin-3">
        <img src="https://www.sweetashoney.co/wp-content/uploads/DSC_0069-4.jpg" width='45%'>
        <%= @eatThisRasberry.name %>
        <%= @eatThisRasberry.price %>
        <%= @eatThisRasberry.desription %>

      </div>
    </div>
  </body>
</html>
