<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="muffin.css">
    <title></title>
  </head>
  <body>
    <div id="muffin-box">
      <div id="muffin-1">
        <img src="img/muffin-1.png" width="75%" class="muffin-img">
      <h3> <%= @eatThisBlueBerry.name %> </h3>
      <h3> <%= @eatThisBlueBerry.price %> </h3>
      <h3><%= @eatThisBlueBerry.desription %></h3>

      </div>
      <div id="muffin-2">
        <img src="img/muffin-3.png" width='75%' class='muffin-img'>
        <h3> <%= @eatThisRasberry.name %> </h3>
        <h3> <%= @eatThisRasberry.price %></h3>
        <h3> <%= @eatThisRasberry.desription %> </h3>
      </div>
      <div id="muffin-3">
      <img src="img/muffin-2.png" width="75%" class='muffin-img'>
      <h3> <%= @eatThisCoco.name %> </h3>
      <h3> <%= @eatThisCoco.price %> </h3>
      <h3> <%= @eatThisCoco.desription %> </h3>
      </div>
    </div>
  </body>
</html>
